# Checkpoint Objective ðŸ’¡

# Question 1

In [77]:
# Write a Python program that multiplies all the items in a list.
#Sample list= [2, 3, 6]
#Result = 36

def my_list(number):
    z = 1
    for x in number:
        print(z, 'x', x, '=', z*x)
        z = z * x
    return z
list1 = [2, 3, 6]
my_list(list1)

1 x 2 = 2
2 x 3 = 6
6 x 6 = 36

36

# Quetion 2

In [78]:
# Write a Python program to get a list, sorted in increasing order by the last element in each tuple, 
# from a given list of non-empty tuples.
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]
# Hint: You can use the sort function.

w = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
w.sort ( key = lambda item: item[1])
print(w)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# Quetion 3

In [60]:
# Write a Python program that combines two dictionaries by adding values for common keys.
# d1 = {'a': 100, 'b': 200, 'c':300}
# d2 = {'a': 300, 'b': 200, 'd':400}
# Expected result: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

from collections import Counter
dict1 = {'a': 100, 'b': 200, 'c':300}  
dict2 = {'a': 300, 'b': 200, 'd':400}  
m = Counter (dict1)+Counter(dict2)
print(m)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [73]:
p = {'a': 100, 'b': 200, 'c':300} 
z = {'a': 300, 'b': 200, 'd':500} 
dic5 = {}
for key1, key2  in zip(p, z):
    if key1 == key2:
        dic5[key1]= p[key1]+ z[key2]
    else:
        dic5[key1] = p[key1]
        dic5[key2] = z[key2]
print(dic5)

{'a': 400, 'b': 400, 'c': 300, 'd': 500}

# Question 4

In [19]:
# With a given integral number n, write a program to generate a dictionary that contains (i, i*i) 
# so that is an integral number between 1
# and n (both included). Then the program should print the dictionary. 
# Suppose the following input is supplied to the program: 8. Then,
# the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

n = 8
dict1 = {}
for i in range(1,n+1):
    dict1[i]=i**2
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Question 5

In [22]:
# Write a program to sort a tuple by its float element.
# For example: list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
# Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

element = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
element.sort(reverse = True)
print(element)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

# Question 6

In [32]:
# Write a Python program to create a set.
# Examples : {0, 1, 2, 3, 4}
# Write a Python program to iteration over sets.
# Write a Python program to add members in a set and to remove items from a given set.

example1 = {0, 4, 5, 2, 8}
for i in example1:
    print(i)

0
2
4
5
8

In [45]:
# Add

example2 = {0, 4, 5, 2, 8}
example2.add(99)
print(example2)

{0, 2, 99, 4, 5, 8}

In [51]:
#Remove

example3 = {0, 4, 5, 2, 8, 6}
example3.remove(8)
print(example3)

{0, 2, 4, 5, 6}